<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuition 2.0</title>
    <link rel="icon" type="image/png" href="https://images.hdqwalls.com/wallpapers/black-hole-dark-4k-wo.jpg">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("https://scitechdaily.com/images/A-Colossal-Explosion-from-Supermassive-Black-Hole.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .card {
            background: white;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            text-align: center;
            opacity: 0.85;
            width: 320px;
        }
        input { margin: 
